* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  margin-bottom: 50px;
  padding: 20px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 10px;
  margin-bottom: 0;
}

nav {
  margin-bottom: 10px;
  margin-bottom: 0;
}

main {
  position: relative;
}

nav a:link {
  display: inline-block;
  margin: 7px 20px;
}
.post-header {
  margin-bottom: 30px;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 30px;
}

p {
  line-height: 1.5;
  font-size: 22px;
  margin-bottom: 15px;
}

.post-importance {
  margin: 25px 0;
}

.post-img {
  width: 100%;
}

ol,
ul {
  margin-left: 50px;
}

ol,
ul li:last-child {
  margin-bottom: 15px;
}

.post-feedback {
  margin-bottom: 30px;
}

.related {
  list-style: none;
}

.related li {
  margin-bottom: 30px;
}
.related li:last-child {
  margin-bottom: 50px;
}

li {
  font-size: 22px;
  line-height: 1.9;
  margin-bottom: 10px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  margin-bottom: 40px;
}

.related li:first-child a {
  font-weight: bold;
}

/* .like-btn {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 50px;
} */

footer {
  text-align: center;
}

/* Descendant Selectors */
/* footer p {
  font-size: 16px;
} */
#author {
  font-style: italic;
  font-size: 18px;
}

/* .related li a {
  color: #1098ad;
  font-size: 22px;
  font-weight: bold;
} */

.related-author {
  font-weight: bold;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.related li:first-child a {
  font-weight: bold;
}
/* li:first-child {
  color: red;
}

ul li:nth-child(3) {
  color: blueviolet;
} */

a {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: chartreuse;
}

/* Flexbox */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a:link {
  margin: 0 15px;
  font-size: 18px;
}

.related-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.related-li a:link {
  font-size: 15px;
}

.related-li p {
  margin-bottom: 0;
  font-style: italic;
  font-size: 14px;
}

.related {
  margin-left: 0;
}

.related-li img {
  height: auto;
  width: 100px;
  margin-left: 20px;
}

/* FLEX */
/* main {
  display: flex;
  gap: 75px;
}

main div {
  flex: 1;
}

aside {
  flex: 0 0 300px;
  align-self: flex-start;
}

.related {
  margin-left: 0;
}

.related-li img {
  height: auto;
  width: 100px;
  margin-left: 20px;
} */

/* GRID */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
}

aside {
  grid-column: 2 / 3;
  align-self: start;
}
